name: Delphi Sample for Selfhost

on: 
  workflow_dispatch:

jobs:
  delphi_sample:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - run: 
          dir > C:\Users\Administrator\Desktop\result.txt
          SET BDS=C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0
          SET BDSINCLUDE=C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\include
          SET BDSCOMMONDIR=C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\20.0
          SET FrameworkDir=C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319
          SET FrameworkVersion=v4.0.30319
          SET FrameworkSDKDir=
          SET PATH=%FrameworkDir%;%FrameworkSDKDir%;C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\bin;C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\bin64;C:\\Users\\Public\\Documents\\Embarcadero\\InterBase\\redist\\InterBaseXE3\\win32_togo;C:\\Users\\Public\\Documents\\Embarcadero\\InterBase\\redist\\InterBaseXE3\\win64_togo;%PATH%
          SET LANGDIR=EN
          SET PLATFORM=
          SET PlatformSDK=
          SET CG_BOOST_ROOT=C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\include\\boost_1_39
          SET CG_64_BOOST_ROOT=C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\include\\boost_1_50
          C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\msbuild /target:Build /property:config=Release;UsePackages=false /verbosity:q CardPanel.dproj
          copy Win32\Release\CardPanel.exe C:\Users\Administrator\Desktop
        shell: cmd
