name: Delphi Sample for Selfhost

on: 
  workflow_dispatch:

jobs:
  delphi_sample:
    runs-on: self-hosted
    steps:
      - run: dir C:\Users\Administrator\actions-runner\_work\delphi-sample\delphi-sample > C:\Users\Administrator\Desktop\result.txt
      - run: SET BDS="C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0"
      - run: SET BDSINCLUDE="C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\include"
      - run: SET BDSCOMMONDIR=C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\20.0
      - run: SET FrameworkDir=C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319
      - run: SET FrameworkVersion=v4.0.30319
      - run: SET FrameworkSDKDir=
      - run: SET PATH="%FrameworkDir%;%FrameworkSDKDir%;C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\bin;C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\bin64;C:\\Users\\Public\\Documents\\Embarcadero\\InterBase\\redist\\InterBaseXE3\\win32_togo;C:\\Users\\Public\\Documents\\Embarcadero\\InterBase\\redist\\InterBaseXE3\\win64_togo;%PATH%"
      - run: SET LANGDIR=EN
      - run: SET PLATFORM=
      - run: SET PlatformSDK=
      - run: SET CG_BOOST_ROOT="C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\include\\boost_1_39"
      - run: SET CG_64_BOOST_ROOT="C:\\Program Files (x86)\\Embarcadero\\Studio\\20.0\\include\\boost_1_50"
      - run: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\msbuild /target:Build /property:config=Release;UsePackages=false /verbosity:q CardPanel.dproj
      - run: copy Win32\Release\CardPanel.exe C:\Users\Administrator\Desktop
